#main {
    box-sizing: border-box;
    height: calc(100% - 64px);
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;

    #scroll-container {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: initial;

        .scrollable {
            width: 60%;
            height: 410px;
            text-align: center;
            line-height: 410px;
            border-radius: 10px;
            margin-top: 90px;
        }

        .scrollable:last-child {
            margin-bottom: 90px;
        }

        #first {
            background-color: darkorchid;
            color: #fff;
        }

        #second {
            background-color: darkslateblue;
            color: #fff;
        }

        #third {
            background-color: lightgrey;
            color: darkslateblue;
        }

        .scroll-caption {
            width: 60%;
            height: 410px;
            text-align: center;
            line-height: 410px;
            border-radius: 10px;
            background-color: palevioletred;
            color: black;
            margin-top: 90px;
        }
    }

}